
.icon-face {
	background-image: url('png/face.png');
	background-repeat: no-repeat;
}

.icon-host {
	background-image: url('png/host.png');
	background-repeat: no-repeat;
}

.icon-lock {
	background-image: url('png/lock.png');
	background-repeat: no-repeat;
}

.icon-managers {
	background-image: url('png/managers.png');
	background-repeat: no-repeat;
}