
.icon-face {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGklEQVRIie3BMQEAAADCoPVP7W8GoAAAAOANDi4AAUcnKGwAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}

.icon-host {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGklEQVRIie3BMQEAAADCoPVP7W8GoAAAAOANDi4AAUcnKGwAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}

.icon-lock {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGklEQVRIie3BMQEAAADCoPVP7W8GoAAAAOANDi4AAUcnKGwAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}

.icon-managers {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGklEQVRIie3BMQEAAADCoPVP7W8GoAAAAOANDi4AAUcnKGwAAAAASUVORK5CYII=');
	background-repeat: no-repeat;
}